.alert {
  border-radius: 10px;
  border: 2px solid var(--color-neutral-08);
  background: var(--color-neutral-02);
  padding: 20px;
  margin: 20px 0;
}

.alert_error {
  border: 2px solid var(--color-accent-red-10);
}

.alert_warning {
  border: 2px solid var(--color-accent-yellow-10);
}

.alert_success {
  border: 2px solid var(--color-accent-green-10);
}
